@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/* form google fonts */


:root {
    --primary-color: rgb(112, 27, 112);
    --white: #ffffff;
    --font-gray: #94a3b8;
    --off-white: #f5f5f5;
}

body {
    font-family: 'Merriweather', serif;
    /* from google fonts - CSS rules to specify families*/
    margin: 0px;
    /* margin is zero - to get end to end wide page */
}

#takethis {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0rem 1rem;
    /*TopBottom LeftRight*/
    text-align: justify;
}

.container-fluid {
    max-width: 600px;
    margin: auto;
    padding: 1rem 4rem;
    text-align: justify;
}


.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    font-style: normal;
}

.primary-link {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0.5rem;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

hr {
    margin: 1rem 15rem;
    /* top-bottom, left-right */
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0.5rem 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.2rem;
}

.inline-list {
    padding: 1rem 1rem;
}

/* navigation */
/* you should alter ul for link position in nav bar */
/* you should alter <a> for link font and spacing */
.navigation {
    background-color: var(--primary-color);
    color: var(--white);
    border-bottom-left-radius: 1rem;
    padding: 1rem 1rem;
}

.navigation .link {
    text-align: end;
    color: var(--white);
}

.navigation .nav-brand {
    font-size: large;
    font-weight: bold;
    padding-top: 1rem;
}

.navigation .nav-links {
    padding: 0px 1rem;
    text-align: end;
    font-size: medium;
    font-weight: lighter;
}

/* link active is for highlighting in which page we are - that link appears bolder or italic as in out case */
.navigation .link-active {
    font-weight: 900;
    color: var(--font-gray);
}

/* Heading */
.hero {
    padding: 1px;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-header {
    color: var(--font-gray);
    text-align: center;
}

.head-highlight {
    color: var(--primary-color);
}

.head-box{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* Section */
.section {
    padding: 1rem 2rem;

}



.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: var(--white);
    border-top-right-radius: 1rem;
    padding: 2rem 1rem;
    text-align: center;
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-header{
    font-weight: bolder;
    font-size: large;
}