@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,300&display=swap');
/* form google fonts */


:root {
    --primary-color: rgb(112, 27, 112);
    --white: #ffffff;
    --font-gray: #94a3b8;
  }

body{
    font-family: 'Roboto', sans-serif;
    /* from google fonts */
}
#takethis{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0rem 1rem; /*TopBottom LeftRight*/
    text-align: justify;
}

.container-fluid{
    max-width: 600px;
    margin: auto;
    padding: 2rem 4rem;
    text-align: justify;
}


.link{
    text-decoration: none;
    padding: 0.5rem 3.5rem;
}

.primary-link{
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0.5rem;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 5.5rem;
    border: 1px solid var(--primary-color);
}

hr{
    margin: 2rem 15rem;
    /* top-bottom, left-right */
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: auto;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.inline-list{
    padding: 1rem 15rem;
}

/* navigation */
/* you should alter ul for link position in nav bar */
/* you should alter <a> for link font and spacing */
.navigation{
    background-color: var(--primary-color);
    color: var(--white);
    border-bottom-left-radius: 1rem;
    max-height: 150px;    
}

.navigation .link{
    text-align: end;
    color: var(--white);
}

.navigation .nav-brand{
    font-size: x-large;
    font-weight: bold;
    padding-top: 1rem;
}

.navigation .nav-links{
 padding: 1rem;  
 text-align: right; 
 font-size: large;
 font-weight: lighter;
}
/* link active is for highlighting in which page we are - that link appears bolder or italic as in out case */
.navigation .link-active{
font-style: italic;
}

/* Heading */
.hero{
    padding:1px;
}

.hero .hero-image{
max-width: 350px;
display: block;
margin: auto;
}

.hero .hero-header{
    color: var(--font-gray);
    text-align: center;
}

.head-highlight{
    color: var(--primary-color);
}


